<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Drive-distance-and-Drive-time-calculations-(and-walking-time)" data-toc-modified-id="Drive-distance-and-Drive-time-calculations-(and-walking-time)-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Drive distance and Drive time calculations (and walking time)</a></span><ul class="toc-item"><li><span><a href="#Setting-up-a-HERE-Maps-account" data-toc-modified-id="Setting-up-a-HERE-Maps-account-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Setting up a HERE Maps account</a></span></li></ul></li><li><span><a href="#Load-in-libraries" data-toc-modified-id="Load-in-libraries-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Load in libraries</a></span></li><li><span><a href="#Distances-and-Time-between-points" data-toc-modified-id="Distances-and-Time-between-points-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Distances and Time between points</a></span><ul class="toc-item"><li><span><a href="#Simple-example-with-driving-distance" data-toc-modified-id="Simple-example-with-driving-distance-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Simple example with driving distance</a></span></li><li><span><a href="#Simple-example-with-walking-distance" data-toc-modified-id="Simple-example-with-walking-distance-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Simple example with walking distance</a></span></li><li><span><a href="#Simple-example-with-truck-/-bicycle-/-scooter-distance" data-toc-modified-id="Simple-example-with-truck-/-bicycle-/-scooter-distance-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Simple example with truck / bicycle / scooter distance</a></span></li></ul></li><li><span><a href="#Get-routing-distance-between-a-small-number-of-location-pairs" data-toc-modified-id="Get-routing-distance-between-a-small-number-of-location-pairs-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Get routing distance between a small number of location pairs</a></span><ul class="toc-item"><li><span><a href="#Calculate-drive-time-in-reverse-and-walking-time" data-toc-modified-id="Calculate-drive-time-in-reverse-and-walking-time-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Calculate drive time in reverse and walking time</a></span></li><li><span><a href="#Generate-pairs-of-locations-from-a-list-of-locations" data-toc-modified-id="Generate-pairs-of-locations-from-a-list-of-locations-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Generate pairs of locations from a list of locations</a></span></li><li><span><a href="#Generate-pairs-of-locations-between-two-lists-of-locations" data-toc-modified-id="Generate-pairs-of-locations-between-two-lists-of-locations-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Generate pairs of locations between two lists of locations</a></span></li></ul></li><li><span><a href="#Get-drive-time-for-a-large-number-of-distances,-using-&quot;Matrix-Routing&quot;" data-toc-modified-id="Get-drive-time-for-a-large-number-of-distances,-using-&quot;Matrix-Routing&quot;-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Get drive time for a large number of distances, using "Matrix Routing"</a></span></li><li><span><a href="#Disclaimers-and-Attribution" data-toc-modified-id="Disclaimers-and-Attribution-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Disclaimers and Attribution</a></span></li></ul></div>

<div class="alert alert-danger" role="alert">
    <span style="font-size:20px">&#9888;</span> <span style="font-size:16px">This is a read-only notebook! If you want to make and save changes, save a copy by clicking on <b>File</b> &#8594; <b>Save a copy</b>. If this is already a copy, you can delete this cell.</span>
</div>

# Drive distance and Drive time calculations (and walking time)

<font color='red'>**IMPORTANT DISCLAIMER -- READ FIRST**</font>

In this Notebook, we make use of API of HERE Maps as part of their Freemium service. Map content provided by HERE is subject to the HERE end-user terms, available at https://legal.here.com/en-gb/terms and the HERE privacy policy available at https://legal.here.com/en-gb/privacy. 
        
**See bottom of this Notebook for more details**

## Setting up a HERE Maps account


See the **HERE Maps API - Standalone.ipynb** for instructions on how to create an account and get an API key.

In [1]:
api_key = "Your API Key Here"

# Load in libraries

In [2]:
import pandas as pd

**Load in our custom wrapper functions for HERE Maps API**

In [3]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.insert(0,"../../utilities")
from geospatial.HERE_Maps_API import routing, geocoding

c:\users\daniel.wang\miniconda3\lib\site-packages\requests\__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.8) or chardet (5.0.0)/charset_normalizer (2.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

# Distances and Time between points

There are different types of time durations:
* duration - total duration of the action, section, and so on
* baseDuration - duration of route section (in seconds) ignoring time-aware information. In particular, dynamic traffic information is not taken into account. Only average free-flow speeds based on historical traffic are used to calculate this duration. The baseDuration can also be understood as the best possible duration.
* typicalDuration - duration with typical traffic information for the given time of day

## Simple example with driving distance

In [7]:
# Get driving distances and times
address_from = '6649 N Blue Gum St New Orleans LA'
address_to = '55 Beacon Street, Brookline, MA'

latlong_from = geocoding.get_latlong(address_from,api_key)[0]['string']
latlong_to = geocoding.get_latlong(address_to,api_key)[0]['string']

print("{} to {}".format(latlong_from, latlong_to))

results = routing.get_driving_info(latlong_from, latlong_to,api_key,summary_only=True, mile_or_meter="mile") # Length in miles, and # time in seconds

29.9537,-90.07775 to 42.34184,-71.12279

In [15]:
print(f"Duration in minutes: {results['duration']/60}")
print(f"Distance in miles: {results['length']}")
print(f"Travel modes: {results['modes']}")

Duration in minutes: 1390.55
Distance in miles: 1521.205587383648
Travel modes: car

In [14]:
# If there are multiple routes offered, or multiple sections within a route, we generate a table
results['table']

   route  section mode  duration       length  baseDuration
0      0        0  car     83433  1521.205587         83433

## Simple example with walking distance

In [28]:
# Get walking information
results = routing.get_walking_info("29.9537,-90.07775", "42.34184,-71.12279",api_key,summary_only=True, 
                                   mile_or_meter="mile", borders = "state")

In [29]:
print(f"Duration in minutes: {results['duration']/60}")
print(f"Distance in miles: {results['length']}")
print(f"Travel modes: {results['modes']}")

Duration in minutes: 40149.85
Distance in miles: 1575.2724719450212
Travel modes: ferry|pedestrian

In [30]:
# If requesting state or countries crossed:
print(f"States: {results['states']}")

States: LA|TN|MD|RI|AL|DE|MA|MS|PA|NJ|VA|GA|NY|DC

In [31]:
# If there are multiple routes offered, or multiple sections within a route, we generate a table. Extra duration includes Ferry loading and offloading time.
results['table']

,route,section,mode,countries,states,duration,length,baseDuration,extra duration
0,0,0,pedestrian,USA|USA|USA|USA|USA|USA|USA|USA|USA|USA|USA,LA|MS|AL|GA|TN|VA|DC|MD|DE|PA|NJ,2101679,1304.316676,2101679.0,0
1,0,1,ferry,USA,NaN,4659,19.738526,NaN,1800
2,0,2,pedestrian,USA,NY,9,0.005592,9.0,0
3,0,3,ferry,USA,NaN,2829,7.100426,NaN,1800
4,0,4,pedestrian,USA,NY,160672,99.711683,160672.0,0
5,0,5,ferry,USA,NaN,11795,68.907751,NaN,1800
6,0,6,pedestrian,USA|USA,RI|MA,121948,75.491817,121948.0,0

## Simple example with truck / bicycle / scooter distance

In [33]:
# Get truck information
routing.get_any_routing_info("29.9537,-90.07775", "42.34184,-71.12279", api_key, summary_only=True, mile_or_meter="mile",
                     transportMode="truck")  # Use 'pedestrian', 'car', 'truck', 'bicycle', 'scooter'

{'table':    route  section   mode  duration      length  baseDuration  extra duration
 0      0        0  truck     96275  1521.19751         96275               0,
 'duration': 96275,
 'modes': 'truck',
 'length': 1521.1975095380715}

# Get routing distance between a small number of location pairs

We have a CSV file containing the latlongs for from and to destinations.

In [34]:
# Read in the data
from_to_data = pd.read_csv("sample_input/from_to_locations.csv")
from_to_data.head()

                From                  To
0  29.9537,-90.07775  42.34184,-71.12279
1           30.5,-91         31.21,-90.5
2      34.712,-90.21          33.3,-92.1

**We use a loop to get the distances**

Advantage of using a loop vs. apply is that results are available even if the connection stops.

In [35]:
from_to_results = from_to_data.copy()
from_to_results['Distance'] = None
from_to_results['DriveTime'] = None

for idx, row in from_to_results.iterrows():
    
    if from_to_results.shape[0] > 100:
        if (idx % 100) == 0:
            print("Processing {} out of {}".format(idx+1, from_to_results.shape[0]))
    
    try:
        distance = routing.get_any_routing_info(row["From"], row['To'], 
                                                api_key, summary_only=True, mile_or_meter="mile",
                                                transportMode="car")  # Use 'pedestrian', 'car', 'truck', 'bicycle', 'scooter'
    except:
        continue
            
    from_to_results.loc[idx, "Distance"] = distance['length']
    from_to_results.loc[idx, "DriveTime"] = distance['typicalDuration']
    
from_to_results.head()

KeyError: 'typicalDuration'

## Calculate drive time in reverse and walking time

In some cases, the drive time in one direction can be very different from the drive time in the other direction, especially when distances are small, near highways or one-way roads. So getting the reverse drive time and walking time as reference can be helpful

In [36]:
from_to_results = from_to_data.copy()
from_to_results['Distance'] = None
from_to_results['DriveTime'] = None
from_to_results['Distance_reverse'] = None
from_to_results['DriveTime_reverse'] = None
from_to_results['Distance_walk'] = None
from_to_results['DriveTime_walk'] = None

for idx, row in from_to_results.iterrows():
    
    if from_to_results.shape[0] > 100:
        if (idx % 100) == 0:
            print("Processing {} out of {}".format(idx+1, from_to_results.shape[0]))
    
    try:
        distance = routing.get_any_routing_info(row["From"], row['To'], 
                                                api_key, summary_only=True, mile_or_meter="mile",
                                                transportMode="car")  # Use 'pedestrian', 'car', 'truck', 'bicycle', 'scooter'
        from_to_results.loc[idx, "Distance"] = distance['length']
        from_to_results.loc[idx, "DriveTime"] = distance['duration']
    
    except:
        pass
            
    try:
        distance = routing.get_any_routing_info(row["To"], row['From'], 
                                                api_key, summary_only=True, mile_or_meter="mile",
                                                transportMode="car")  # Use 'pedestrian', 'car', 'truck', 'bicycle', 'scooter'
    
        from_to_results.loc[idx, "Distance_reverse"] = distance['length']
        from_to_results.loc[idx, "DriveTime_reverse"] = distance['duration']
    
    except:
        pass
            
    try:
        distance = routing.get_any_routing_info(row["From"], row['To'], 
                                                api_key, summary_only=True, mile_or_meter="mile",
                                                transportMode="pedestrian")  # Use 'pedestrian', 'car', 'truck', 'bicycle', 'scooter'
        from_to_results.loc[idx, "Distance_walk"] = distance['length']
        from_to_results.loc[idx, "DriveTime_walk"] = distance['duration']
    
    except:
        pass
            
    
from_to_results.head()

,From,To,Distance,DriveTime,Distance_reverse,DriveTime_reverse,Distance_walk,DriveTime_walk
0,"29.9537,-90.07775","42.34184,-71.12279",1521.205587,83433,1526.065344,83427,1575.272472,2408991
1,"30.5,-91","31.21,-90.5",72.864653,4829,72.662085,4793,69.116532,111457
2,"34.712,-90.21","33.3,-92.1",193.988219,13177,192.733046,13144,182.860054,294655

## Generate pairs of locations from a list of locations

In [37]:
locations = ["29.9537,-90.07775", "30.5,-91", "34.712,-90.21", "42.34184,-71.12279", "31.21,-90.5", "33.3,-92.1"]
all_combos = routing.all_combinations(locations)
all_combos

                Input1              Input2  Index1  Index2
0    29.9537,-90.07775            30.5,-91       0       1
1    29.9537,-90.07775       34.712,-90.21       0       2
2    29.9537,-90.07775  42.34184,-71.12279       0       3
3    29.9537,-90.07775         31.21,-90.5       0       4
4    29.9537,-90.07775          33.3,-92.1       0       5
5             30.5,-91       34.712,-90.21       1       2
6             30.5,-91  42.34184,-71.12279       1       3
7             30.5,-91         31.21,-90.5       1       4
8             30.5,-91          33.3,-92.1       1       5
9        34.712,-90.21  42.34184,-71.12279       2       3
10       34.712,-90.21         31.21,-90.5       2       4
11       34.712,-90.21          33.3,-92.1       2       5
12  42.34184,-71.12279         31.21,-90.5       3       4
13  42.34184,-71.12279          33.3,-92.1       3       5
14         31.21,-90.5          33.3,-92.1       4       5

## Generate pairs of locations between two lists of locations

In [38]:
from_locations = ["29.9537,-90.07775", "30.5,-91", "34.712,-90.21"] 
to_locations = ["42.34184,-71.12279", "31.21,-90.5", "33.3,-92.1"]
all_combos = routing.all_combinations(from_locations, to_locations)
all_combos

              Input1              Input2  Index1  Index2
0  29.9537,-90.07775  42.34184,-71.12279       0       0
1  29.9537,-90.07775         31.21,-90.5       0       1
2  29.9537,-90.07775          33.3,-92.1       0       2
3           30.5,-91  42.34184,-71.12279       1       0
4           30.5,-91         31.21,-90.5       1       1
5           30.5,-91          33.3,-92.1       1       2
6      34.712,-90.21  42.34184,-71.12279       2       0
7      34.712,-90.21         31.21,-90.5       2       1
8      34.712,-90.21          33.3,-92.1       2       2

# Get drive time for a large number of distances, using "Matrix Routing"

**IMPORTANT: To use this, you need a temporary access token**
Access tokens are requested using your access_key_id and access_key_secret, and lasts 24 hours. You need to follow the instructions to get a token:
https://developer.here.com/documentation/authentication/dev_guide/topics/using-postman.html#using-postman

In [39]:
access_token = "Your Access Token Here"

**For more configurations, see https://developer.here.com/documentation/matrix-routing-api/api-reference-swagger.html**

In [41]:
# Example
origins = pd.DataFrame({"latitude":[52.2,52.1,52.5], "longitude":[13.432, 13.4,13.22]})
destinations = pd.DataFrame({"latitude":[51.2,50.1,53.5], "longitude":[13.2, 12.4,11.22]})

results, metadata = routing.calculate_matrix_routing(api_key, access_token, origins, destinations, profile="carShort")
results

,latitude_x,longitude_x,orig_index,latitude_y,longitude_y,dest_index,travelTimes,distances,errorCodes
0,52.2,13.432,0,51.2,13.20,0,9539,134947,0
1,52.2,13.432,0,50.1,12.40,1,19830,300497,0
2,52.2,13.432,0,53.5,11.22,2,13208,235109,0
3,52.1,13.400,1,51.2,13.20,0,8929,123390,0
4,52.1,13.400,1,50.1,12.40,1,19176,288520,0
5,52.1,13.400,1,53.5,11.22,2,13717,243362,0
6,52.5,13.220,2,51.2,13.20,0,11395,176905,0
7,52.5,13.220,2,50.1,12.40,1,21386,323669,0
8,52.5,13.220,2,53.5,11.22,2,9918,195345,0

# Disclaimers and Attribution

In this Notebook, we make use of API of HERE Maps as part of their Freemium service. Map content provided by HERE is subject to the HERE end-user terms, available at https://legal.here.com/en-gb/terms and the HERE privacy policy available at https://legal.here.com/en-gb/privacy. 

Generally, you may use HERE Maps to perform analysis to deliver to your clients. In the materials you deliver (e.g. PPT, Excel, etc.), make sure to **list HERE Maps as one of the sources**

This script itself should not be handed over to the client. If your client requires code / scripts to make use of HERE Maps' API, then it is your and your client's responsibility to adhere to the HERE Maps terms and conditions.

Map content provided by HERE is subject to the HERE end-user terms, available at https://legal.here.com/en-gb/terms and the HERE privacy policy available at https://legal.here.com/en-gb/privacy
* You cannot modify, alter or tamper with any proprietary marks, rights notices or other notices, HERE trademarks, logos, etc.
* All copyright, trademark and other intellectual property rights in the map content provided by HERE belongs to HERE. HERE's trademarks, logos, service marks, trade names and similar designations belong to HERE. 

More discussion on Terms and Conditions are here: https://owlabs.atlassian.net/wiki/spaces/MappingAssets/pages/2051014799/Third+Party+API+-+Terms+and+Conditions

© 2022 Oliver Wyman © 2022 HERE